<% include ../partials/header %>

<% for (var i=0; i < autoIm.length; i++) { %>
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="<%= autoIm[i] %>" class="card-img-top">
            </div>
        </div>
    </div>
<% } %>

<br>

<% for (var i=0; i < ledIm.length; i++) { %>
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="<%= ledIm[i] %>" class="card-img-top">
            </div>
        </div>
    </div>
<% } %>

<br>

<% for (var i=0; i < constantIm.length; i++) { %>
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="<%= constantIm[i] %>" class="card-img-top">
            </div>
        </div>
    </div>
<% } %>

<br>

<% for (var i=0; i < lightIm.length; i++) { %>
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="<%= lightIm[i] %>" class="card-img-top">
            </div>
        </div>
    </div>
<% } %>

<div class="text-center">
    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <a onclick="window.history.back()" class="btn btn-outline-primary float-left">Πίσω</a>
        <a href="/" class="btn btn-outline-primary float-left">Αρχική Σελίδα</a>
    </div>
</div>

<% include ../partials/footer %>
