
<br>
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted"> <small>&copy; Copyright 2022, Διανέλλος Στέφανος | 6989632167</small> </span>
    </div>
</footer>
<br>

<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip({
			animated: 'fade',
			placement: 'bottom',
			html: true
		})
	})
</script>
<br>
	</body>
</html>