<% include ./partials/header %>
<style>
	body {
		/* background-image: url('/photos/fs.mp4'); */
		background-image: url('/b.webp');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
</style>
<div class="container">
	<div class="row">
        <h2 align="center">Ηλεκτρονικός Φαροδείκτης</h2>
		<!-- <img src='/photos/yf.png' class="img-fluid mx-auto d-block" style="width: 10rem;" /> -->
		<!-- <img src='/photos/pn.png' class="img-fluid mx-auto d-block" style="width: 10rem;" /> -->
		<img src='/yf.png' class="img-fluid mx-auto d-block" style="width: 10rem;" />
		<img src='/pn.png' class="img-fluid mx-auto d-block" style="width: 10rem;" />
		<div class="col-12">
			<nav class="navbar navbar-light">
				<div class="container-fluid">
					<form action="/search" method="GET" class="d-flex my-2 mx-auto">
						
						<input type="search" class="form-control rounded" type="search" name="q" id="search" placeholder="Αναζήτηση" aria-label="Search" />
						<button class="btn btn-primary" type="submit">Αναζήτηση</button>
						<!-- <input class="form-control me-2" type="search" name="q" id="search" aria-label="Search">
						<button class="btn btn-outline-primary" type="submit">Αναζήτηση</button> -->
					</form>
				</div>
			</nav>
		</div>
	</div>
</div>
<br>

<div class="container">
    <div class="row">
      <div class="col text-center">
		<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			Δημιουργία
			</button>
			<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				<li><a class="dropdown-item" href="/autoLighthouses/registerAuto">Αυτόματου Πυρσού</a></li>
				<li><a class="dropdown-item" href="/ledLighthouses/registerLed">Προσωρινού Πυρσού</a></li>
				<li><a class="dropdown-item" href="/lightBeacons/registerLight">Φωτοσημαντήρα</a></li>
				<li><a class="dropdown-item" href="#">Πέτρινου Φάρου</a></li>
				<li><a class="dropdown-item" href="/constantLighthouses/registerConstant">Σταθερού Πυρσού</a></li>
			</ul>
		<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			Σύνολο εξαρτημάτων
			</button>
			<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				<li><a class="dropdown-item" href="/autoLighthouses/sum">Αυτόματων Πυρσών</a></li>
				<li><a class="dropdown-item" href="/ledLighthouses/sum">Προσωρινών Πυρσών</a></li>
				<li><a class="dropdown-item" href="lightbeacons/sum">Φωτοσημαντήρων</a></li>
				<li><a class="dropdown-item" href="#">Πέτρινων Φάρων</a></li>
				<li><a class="dropdown-item" href="/constantLighthouses/sum">Σταθερών Πυρσών</a></li>
			</ul>
        <a href="/suggestedWorks" class="btn btn-primary">Προτεινόμενες Εργασίες</a>
        <a href="/storeRoom" class="btn btn-primary">Εισαγωγή Νέων Εξαρτημάτων</a>
        <a href="/print" class="btn btn-primary">Εκτύπωση</a>
        <a href="/images/index" class="btn btn-primary">Φωτογραφίες</a>
      </div>
    </div>
</div>

<br>

<div class="d-flex justify-content-end">
	<iframe src="https://www.google.com/maps/d/embed?mid=1GtYGAHNPu6L9PzFM8KzLSGb_bxftMdks&hl=el&ehbc=2E312F" width="600" height="450"></iframe>
</div>

<% include ./partials/footer %>
