<% include ./partials/header %>
<div class="container">
	<div class="row">
        <h2 align="center">Φάροι</h2>
		<div class="col-12">
			<nav class="navbar navbar-light">
				<div class="container-fluid">
					<form action="/search" method="GET" class="d-flex my-2 mx-auto">
						<input class="form-control me-2" type="search" name="q" id="search" aria-label="Search">
						<button class="btn btn-outline-primary" type="submit">Αναζήτηση</button>
					</form>
				</div>
			</nav>
		</div>
	</div>
</div>

<br>

<div class="container">
    <div class="row">
      <div class="col text-center">
		<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			Δημιουργία
			</button>
			<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				<li><a class="dropdown-item" href="/autoLighthouses/registerAuto">Αυτόματου</a></li>
				<li><a class="dropdown-item" href="/ledLighthouses/registerLed">LED</a></li>
			</ul>
		<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			Σύνολο εξαρτημάτων
			</button>
			<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				<li><a class="dropdown-item" href="/autoLighthouses/sum">Αυτόματων</a></li>
				<li><a class="dropdown-item" href="/ledLighthouses/sum">LED</a></li>
			</ul>
        <a href="/suggestedWorks" class="btn btn-primary">Προτεινόμενες Εργασίες</a>
      </div>
    </div>
</div>

<% include ./partials/footer %>
