<% include ./partials/header %>
<div class="container">
	<div class="row">
        <h2 align="center">Ηλεκτρονικός Φαροδείκτης</h2>
		<div class="col-12">
			<nav class="navbar navbar-light">
				<div class="container-fluid">
					<form action="/search" method="GET" class="d-flex my-2 mx-auto">
						<input class="form-control me-2" type="search" name="q" id="search" aria-label="Search">
						<button class="btn btn-outline-primary" type="submit">Αναζήτηση</button>
					</form>
				</div>
			</nav>
		</div>
	</div>
</div>
<br>

<!-- <img src="./release-builds/LighthousesDB-win32-ia32/photos/1.jpg" class="image-responsive"> -->

<div class="container">
    <div class="row">
      <div class="col text-center">
		<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			Δημιουργία
			</button>
			<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				<li><a class="dropdown-item" href="/autoLighthouses/registerAuto">Αυτόματου Πυρσού</a></li>
				<li><a class="dropdown-item" href="/ledLighthouses/registerLed">Πυρσού Led</a></li>
				<li><a class="dropdown-item" href="/lightBeacons/registerLight">Φωτοσημαντήρα</a></li>
				<li><a class="dropdown-item" href="#">Πέτρινου Φάρου</a></li>
				<li><a class="dropdown-item" href="/constantLighthouses/registerConstant">Σταθερού Πυρσού</a></li>
			</ul>
		<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			Σύνολο εξαρτημάτων
			</button>
			<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				<li><a class="dropdown-item" href="/autoLighthouses/sum">Αυτόματων Πυρσών</a></li>
				<li><a class="dropdown-item" href="/ledLighthouses/sum">Πυρσών Led</a></li>
				<li><a class="dropdown-item" href="lightbeacons/sum">Φωτοσημαντήρων</a></li>
				<li><a class="dropdown-item" href="#">Πέτρινων Φάρων</a></li>
				<li><a class="dropdown-item" href="/constantLighthouses/sum">Σταθερών Πυρσών</a></li>
			</ul>
        <a href="/suggestedWorks" class="btn btn-primary">Προτεινόμενες Εργασίες</a>
        <a href="/storeRoom" class="btn btn-primary">Εισαγωγή Νέων Εξαρτημάτων</a>
        <a href="/print" class="btn btn-primary">Εκτύπωση</a>
      </div>
    </div>
</div>

<% include ./partials/footer %>
