<% include ./partials/header %>

<div class="container">
    <h2 align="center">Εισαγωγή Στοιχείων</h2>
    <form action="/ledLighthouses/insertLed/<%= ledLightHouse._id %>?_method=PUT" method="POST">
        <div class="row">
			<div class="col-md-6">
				<label for="solarGenerator" class="form-label">ΗΛΙΑΚΗ ΓΕΝΝΗΤΡΙΑ</label>
				<input type="text" class="form-control" name="solarGenerator" id="solarGenerator">
			</div>
            <div class="col-md-6">
				<label for="solarGeneratorDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="solarGeneratorDate" id="solarGeneratorDate">
			</div>
			<div class="col-md-6">
				<label for="accumulator" class="form-label">ΣΥΣΣΩΡΕΥΤΗΣ</label>
				<input type="text" class="form-control" name="accumulator" id="accumulator">
			</div>
            <div class="col-md-6">
				<label for="accumulatorDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="accumulatorDate" id="accumulatorDate">
			</div>
			<div class="col-md-6">
				<label for="head" class="form-label">ΚΕΦΑΛΗ</label>
				<input type="text" class="form-control" name="head" id="head">
			</div>
            <div class="col-md-6">
				<label for="headDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="headDate" id="headDate">
			</div>
			<div class="col-md-6">
				<label for="chargeRegulator" class="form-label">ΡΥΘΜΙΣΤΗΣ ΦΟΡΤΙΣΕΩΣ/ ΦΟΡΤΙΣΤΗΣ</label>
				<input type="text" class="form-control" name="chargeRegulator" id="chargeRegulator">
			</div>
            <div class="col-md-6">
				<label for="chargeRegulatorDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="chargeRegulatorDate" id="chargeRegulatorDate">
			</div>
			<div class="col-md-6">
				<label for="socket" class="form-label">ΥΠΟΔΟΧΗ</label>
				<input type="text" class="form-control" name="socket" id="socket">
			</div>
            <div class="col-md-6">
				<label for="socketDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="socketDate" id="socketDate">
			</div>
        </div>
        
        <br>
        
		<div class="text-center">
			<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
				<input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
				<a href="/" class="btn btn-outline-primary float-left">Αρχική Σελίδα</a>
                <button class="btn btn-outline-primary float-right" type="submit">Εισαγωγή στοιχείων</button>
			</div>
		</div>
    </form>
</div>
<br>

<% include ./partials/footer %>
