<% include ./partials/header %>
<div class="container">
	<div class="row">
		<h2 align="center">Νέος Αυτόματος Φάρος</h2>
		<form action="/autoLighthouses/registerAuto" method="POST" class="row g-3">
			<div class="col-md-6">
				<label for="aef" class="form-label">ΑΕΦ</label>
				<input type="text" class="form-control" name="aef" id="aef">
			</div>
			<div class="col-md-6">
				<label for="lighthouse" class="form-label">ΟΝΟΜΑΣΙΑ</label>
				<input type="text" class="form-control" name="lighthouse" id="lighthouse">
			</div>
			<div class="col-md-4">
				<label for="colour" class="form-label">ΧΡΩΜΑΤΙΣΜΟΣ</label>
				<input type="text" class="form-control" name="colour" id="colour">
			</div>
			<div class="col-md-4">
				<label for="sections" class="form-label">ΤΟΜΕΙΣ</label>
				<input type="text" class="form-control" name="sections" id="sections">
			</div>
			<div class="col-md-4">
				<label for="features" class="form-label">ΧΑΡΑΚΤΗΡΙΣΤΙΚΟ</label>
				<input type="text" class="form-control" name="features" id="features">
			</div>
			<div class="col-md-6">
				<label for="position" class="form-label">ΠΕΡΙΓΡΑΦΗ ΘΕΣΕΩΣ/ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="text" class="form-control" name="position" id="position">
			</div>
			<div class="col-md-6">
				<label for="location" class="form-label">ΠΕΡΙΟΧΗ</label>
				<input type="text" class="form-control" name="location" id="location">
			</div>
			<div class="col-md-6">
				<label for="lighter" class="form-label">ΕΚΛΑΜΠΤΗΡΑΣ</label>
				<input type="text" class="form-control" name="lighter" id="lighter">
			</div>
            <div class="col-md-6">
				<label for="lighterDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="lighterDate" id="lighterDate">
			</div>
			<div class="col-md-6">
				<label for="solarGenerator" class="form-label">ΗΛΙΑΚΗ ΓΕΝΝΗΤΡΙΑ</label>
				<input type="text" class="form-control" name="solarGenerator" id="solarGenerator">
			</div>
            <div class="col-md-6">
				<label for="solarGeneratorDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="solarGeneratorDate" id="solarGeneratorDate">
			</div>
			<div class="col-md-6">
				<label for="alternator" class="form-label">ΕΝΑΛΛΑΚΤΗΣ</label>
				<input type="text" class="form-control" name="alternator" id="alternator">
			</div>
            <div class="col-md-6">
				<label for="alternatorDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="alternatorDate" id="alternatorDate">
			</div>
			<div class="col-md-6" id="fieldListLamp">
				<label for="lamp[]" class="form-label">ΛΥΧΝΙΑ</label>
				<input type="text" class="form-control" name="lamp[]" id="lamp">
				<button class="btn btn-primary" id="addMoreLamp">Προσθήκη Λυχνίας</button>
			</div>
            <div class="col-md-6">
				<label for="lampDate[]" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="lampDate[]" id="lampDate">
			</div>
			<div class="col-md-6" id="fieldListAcc">
				<label for="accumulator[]" class="form-label">ΣΥΣΣΩΡΕΥΤΗΣ</label>
				<input type="text" class="form-control" name="accumulator[]" id="accumulator">
				<button class="btn btn-primary" id="addMoreAcc">Προσθήκη Συσσωρευτή</button>
			</div>
			<div class="col-md-6">
				<label for="accumulatorDate[]" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="accumulatorDate[]" id="accumulatorDate">
			</div>
			<div class="col-md-6">
				<label for="head" class="form-label">ΚΕΦΑΛΗ</label>
				<input type="text" class="form-control" name="head" id="head">
			</div>
            <div class="col-md-6">
				<label for="headDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="headDate" id="headDate">
			</div>
			<div class="col-md-6">
				<label for="generatorSocket" class="form-label">ΡΥΘΜΙΣΤΗΣ ΦΟΡΤΙΣΕΩΣ/ ΦΟΡΤΙΣΤΗΣ</label>
				<input type="text" class="form-control" name="generatorSocket" id="generatorSocket">
			</div>
            <div class="col-md-6">
				<label for="generatorSocketDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="generatorSocketDate" id="generatorSocketDate">
			</div>
			<div class="col-md-6">
				<label for="torchSocket" class="form-label">ΥΠΟΔΟΧΗ ΠΥΡΣΟΥ</label>
				<input type="text" class="form-control" name="torchSocket" id="torchSocket">
			</div>
            <div class="col-md-6">
				<label for="torchSocketDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="torchSocketDate" id="torchSocketDate">
			</div>
			<div class="col-md-6">
				<label for="photocell" class="form-label">ΦΩΤΟΚΥΤΤΑΡΟ</label>
				<input type="text" class="form-control" name="photocell" id="photocell">
			</div>
            <div class="col-md-6">
				<label for="photocellDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="photocellDate" id="photocellDate">
			</div>
			<div class="col-md-6">
				<label for="accessory" class="form-label">ΠΡΟΣΘΕΤΟ ΕΞΑΡΤΗΜΑ</label>
				<input type="text" class="form-control" name="accessory" id="accessory">
			</div>
            <div class="col-md-6">
				<label for="accessoryDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="accessoryDate" id="accessoryDate">
			</div>
			<div class="text-center">
				<a href="/" class="btn btn-outline-primary">Αρχική Σελίδα</a>
				<button class="btn btn-outline-primary">Εγγραφή</button>
			</div>
		</form>
	</div>
</div>
<br>
<script>
	$(function() {
		$("#addMoreAcc").click(function(e) {
			e.preventDefault();
			$("#fieldListAcc").append("<br>");
			$("#fieldListAcc").append("<div class='col-md-6'");
			$("#fieldListAcc").append("<label for='accumulator' class='form-label'>ΣΥΣΣΩΡΕΥΤΗΣ</label>");
			$("#fieldListAcc").append("<input type='text' class='form-control' name='accumulator' id='accumulator'>");
			$("#fieldListAcc").append("</div>");
			$("#fieldListAcc").append("<div class='col-md-6'>");
			$("#fieldListAcc").append("<label for='accumulatorDate' class='form-label'>ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>");
			$("#fieldListAcc").append("<input type='date' class='form-control' name='accumulatorDate' id='accumulatorDate'>");
			$("#fieldListAcc").append("</div>");
		});
	});
</script>

<script>
	$(function() {
		$("#addMoreLamp").click(function(e) {
			e.preventDefault();
			$("#fieldListLamp").append("<br>");
			$("#fieldListLamp").append("<div class='col-md-6'");
			$("#fieldListLamp").append("<label for='lamp[]' class='form-label'>ΛΥΧΝΙΑ</label>");
			$("#fieldListLamp").append("<input type='text' class='form-control' name='lamp' id='lamp'>");
			$("#fieldListLamp").append("</div>");
			$("#fieldListLamp").append("<div class='col-md-6'>");
			$("#fieldListLamp").append("<label for='lampDate[]' class='form-label'>ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>");
			$("#fieldListLamp").append("<input type='date' class='form-control' name='lampDate' id='lampDate'>");
			$("#fieldListLamp").append("</div>");
		});
	});
</script>
<% include ./partials/footer %>