<% include ./partials/header %>
<div class="container">
	<div class="row">
		<h2 align="center">Νέος LED Φάρος</h2>
		<form action="/ledLighthouses/registerLed" method="POST" class="row g-3">
			<div class="col-md-6">
				<label for="aef" class="form-label">ΑΕΦ</label>
				<input type="text" class="form-control" name="aef" id="aef">
			</div>
			<div class="col-md-6">
				<label for="lighthouse" class="form-label">ΟΝΟΜΑΣΙΑ</label>
				<input type="text" class="form-control" name="lighthouse" id="lighthouse">
			</div>
			<div class="col-md-4">
				<label for="colour" class="form-label">ΧΡΩΜΑΤΙΣΜΟΣ</label>
				<input type="text" class="form-control" name="colour" id="colour">
			</div>
			<div class="col-md-4">
				<label for="sections" class="form-label">ΤΟΜΕΙΣ</label>
				<input type="text" class="form-control" name="sections" id="sections">
			</div>
			<div class="col-md-4">
				<label for="features" class="form-label">ΧΑΡΑΚΤΗΡΙΣΤΙΚΟ</label>
				<input type="text" class="form-control" name="features" id="features">
			</div>
			<div class="col-md-6">
				<label for="position" class="form-label">ΠΕΡΙΓΡΑΦΗ ΘΕΣΕΩΣ/ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="text" class="form-control" name="position" id="position">
			</div>
			<div class="col-md-6">
				<label for="location" class="form-label">ΠΕΡΙΟΧΗ</label>
				<input type="text" class="form-control" name="location" id="location">
			</div>
			<div class="col-md-6" id="fieldListSolar">
				<label for="solarGenerator[]" class="form-label">ΗΛΙΑΚΗ ΓΕΝΝΗΤΡΙΑ</label>
				<input type="text" class="form-control" name="solarGenerator[]" id="solarGenerator">
				<button class="btn btn-primary" id="addMoreSolar">Προσθήκη Ηλιακής Γεννήτριας</button>
			</div>
            <div class="col-md-6">
				<label for="solarGeneratorDate[]" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="solarGeneratorDate[]" id="solarGeneratorDate">
			</div>
			<div class="col-md-6" id="fieldList">
				<label for="accumulator[]" class="form-label">ΣΥΣΣΩΡΕΥΤΗΣ</label>
				<input type="text" class="form-control" name="accumulator[]" id="accumulator">
				<button class="btn btn-primary" id="addMore">Προσθήκη Συσσωρευτή</button>
			</div>
			<div class="col-md-6">
				<label for="accumulatorDate[]" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="accumulatorDate[]" id="accumulatorDate">
			</div>
			<div class="col-md-6">
				<label for="head" class="form-label">ΚΕΦΑΛΗ</label>
				<input type="text" class="form-control" name="head" id="head">
			</div>
            <div class="col-md-6">
				<label for="headDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="headDate" id="headDate">
			</div>
			<div class="col-md-6">
				<label for="chargeRegulator" class="form-label">ΡΥΘΜΙΣΤΗΣ ΦΟΡΤΙΣΕΩΣ/ ΦΟΡΤΙΣΤΗΣ</label>
				<input type="text" class="form-control" name="chargeRegulator" id="chargeRegulator">
			</div>
            <div class="col-md-6">
				<label for="chargeRegulatorDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="chargeRegulatorDate" id="chargeRegulatorDate">
			</div>
			<div class="col-md-6">
				<label for="socket" class="form-label">ΥΠΟΔΟΧΗ</label>
				<input type="text" class="form-control" name="socket" id="socket">
			</div>
            <div class="col-md-6">
				<label for="socketDate" class="form-label">ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="date" class="form-control" name="socketDate" id="socketDate">
			</div>
			<div class="text-center">
				<a onclick="window.history.back()" class="btn btn-outline-primary float-left">Πίσω</a>
				<a href="/" class="btn btn-outline-primary">Αρχική Σελίδα</a>
				<button class="btn btn-outline-primary">Εγγραφή</button>
			</div>
		</form>
	</div>
</div>
<br>
<script>
	$(function() {
		$("#addMore").click(function(e) {
			e.preventDefault();
			$("#fieldList").append("<br>");
			$("#fieldList").append("<div class='col-md-6'");
			$("#fieldList").append("<label for='accumulator' class='form-label'>ΣΥΣΣΩΡΕΥΤΗΣ</label>");
			$("#fieldList").append("<input type='text' class='form-control' name='accumulator' id='accumulator'>");
			$("#fieldList").append("</div>");
			$("#fieldList").append("<div class='col-md-6'>");
			$("#fieldList").append("<label for='accumulatorDate' class='form-label'>ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>");
			$("#fieldList").append("<input type='date' class='form-control' name='accumulatorDate' id='accumulatorDate'>");
			$("#fieldList").append("</div>");
		});
	});
</script>
<script>
	$(function() {
		$("#addMoreSolar").click(function(e) {
			e.preventDefault();
			$("#fieldListSolar").append("<br>");
			$("#fieldListSolar").append("<div class='col-md-6'");
			$("#fieldListSolar").append("<label for='SolarGenerator' class='form-label'>ΗΛΙΑΚΗ ΓΕΝΝΗΤΡΙΑ</label>");
			$("#fieldListSolar").append("<input type='text' class='form-control' name='SolarGenerator' id='SolarGenerator'>");
			$("#fieldListSolar").append("</div>");
			$("#fieldListSolar").append("<div class='col-md-6'>");
			$("#fieldListSolar").append("<label for='SolarGeneratorDate' class='form-label'>ΗΜ/ΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ</label>");
			$("#fieldListSolar").append("<input type='date' class='form-control' name='SolarGeneratorDate' id='SolarGeneratorDate'>");
			$("#fieldListSolar").append("</div>");
		});
	});
</script>

<% include ./partials/footer %>
