<% include ./partials/header %>
<div class="container">
	<div class="row">
		<h2 align="center">Νέος Φωτοσημαντήρας</h2>
		<form action="/lightBeacons/registerLight" method="POST" class="row g-3">
			<div class="col-md-6">
				<label for="aef" class="form-label">ΑΕΦ</label>
				<input type="text" class="form-control" name="aef" id="aef" required>
			</div>
			<div class="col-md-6">
				<label for="lighthouse" class="form-label">ΟΝΟΜΑΣΙΑ</label>
				<input type="text" class="form-control" name="lighthouse" id="lighthouse" required>
			</div>
			<div class="col-md-6">
				<label for="colour" class="form-label">ΧΡΩΜΑΤΙΣΜΟΣ</label>
				<input type="text" class="form-control" name="colour" id="colour">
			</div>
			<div class="col-md-6">
				<label for="features" class="form-label">ΧΑΡΑΚΤΗΡΙΣΤΙΚΟ</label>
				<input type="text" class="form-control" name="features" id="features">
			</div>
			<div class="col-md-4">
				<label for="position" class="form-label">ΠΕΡΙΓΡΑΦΗ ΘΕΣΕΩΣ/ΤΟΠΟΘΕΤΗΣΗΣ</label>
				<input type="text" class="form-control" name="position" id="position">
			</div>
			<div class="col-md-4">
				<label for="location" class="form-label">ΠΕΡΙΟΧΗ</label>
				<input type="text" class="form-control" name="location" id="location">
			</div>
			<div class="col-md-4">
				<label for="immersionDepthDate" class="form-label">ΗΜ/ΝΙΑ ΠΟΝΤΙΣΕΩΣ</label>
				<input type="date" class="form-control" name="immersionDepthDate" id="immersionDepthDate">
			</div>
            <br>
            <div class="input-group">
                <span class="input-group-text">ΣΤΙΓΜΑ</span>
                <input type="text" class="form-control" name="stigmax" id="stigmax" placeholder="Χ:">
                <input type="text" class="form-control" name="stigmay" id="stigmay" placeholder="Ψ:">
            </div>
			<div class="col-md-3">
				<label class="form-label"><strong>ΕΞΑΡΤΗΜΑΤΑ ΠΥΡΓΟΥ</strong></label>
			</div>
			<div class="col-md-3">
				<label class="form-label"><strong>ΚΑΤΑΣΚΕΥΑΣΤΗΣ</strong></label>
			</div>
			<div class="col-md-2">
				<label class="form-label"><strong>ΤΥΠΟΣ</strong></label>
			</div>
			<div class="col-md-2">
				<label class="form-label"><strong>ΤΕΜ</strong></label>
			</div>
			<div class="col-md-2">
				<label class="form-label"><strong>ΗΜΕΡΟΜΗΝΙΑ</strong></label>
			</div>

			<div class="col-md-3">
                <span class="input-group-text" id="basic-addon3">ΦΩΤΙΣΤΙΚΟ ΜΗΧΑΝΗΜΑ</span>
			</div>
			<div class="col-md-3">
				<input type="text" class="form-control" name="lightingMachineMan" id="lightingMachineMan">
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control" name="lightingMachineType" id="lightingMachineType">
			</div>
			<div class="col-md-2">
				<input type="number" class="form-control" name="lightingMachineCounter" id="lightingMachineCounter" min="0">
			</div>
			<div class="col-md-2">
				<input type="date" class="form-control" name="lightingMachineDate" id="lightingMachineDate">
			</div>
			<div class="col-md-3">
                <span class="input-group-text" id="basic-addon3">ΑΝΑΚΛΑΣΤΗΡΑΣ</span>
			</div>
			<div class="col-md-3">
				<input type="text" class="form-control" name="reflectorMan" id="reflectorMan">
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control" name="reflectorType" id="reflectorType">
			</div>
			<div class="col-md-2">
				<input type="number" class="form-control" name="reflectorCounter" id="reflectorCounter" min="0">
			</div>
			<div class="col-md-2">
				<input type="date" class="form-control" name="reflectorDate" id="reflectorDate">
			</div>
			<div class="col-md-3">
                <span class="input-group-text" id="basic-addon3">ΕΠΙΣΗΜΑΤΑ</span>
			</div>
			<div class="col-md-3">
				<input type="text" class="form-control" name="signsMan" id="signsMan">
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control" name="signsType" id="signsType">
			</div>
			<div class="col-md-2">
				<input type="number" class="form-control" name="signsCounter" id="signsCounter" min="0">
			</div>
			<div class="col-md-2">
				<input type="date" class="form-control" name="signsDate" id="signsDate">
			</div>
            <div class="col-md-4">
                <img src="/foto_FR.jpg" class="rounded float-start">
			</div>
			<div class="col-md-8">
				<label for="type" class="form-label">ΤΥΠΟΣ ΦΩΤΟΣΗΜΑΝΤΗΡΑ</label>
				<input type="text" class="form-control" name="type" id="type">
				<label for="usedChain" class="form-label">ΣΥΝΟΛΟ ΧΡΗΣΙΜΟΠΟΙΗΘΕΝΤΟΣ ΑΛΥΣΟΥ</label>
				<input type="number" class="form-control" name="usedChain" id="usedChain" min="0">
				<label for="immersionDepth" class="form-label">ΒΑΘΟΣ ΠΟΝΤΙΣΕΩΣ</label>
				<input type="number" class="form-control" name="immersionDepth" id="immersionDepth" min="0">
				<br>
                <div class="row">
                    <div class="col-8 col-sm-4">
                        <label class="form-label"><strong>ΕΞΑΡΤΗΜΑΤΑ ΠΟΝΤΙΣΕΩΣ</strong></label>
                    </div>
                    <div class="col-8 col-sm-4">
                        <label class="form-label"><strong>ΤΥΠΟΣ</strong></label>
                    </div>
                    <div class="col-8 col-sm-4">
                        <label class="form-label"><strong>ΜΕΤΡΑ</strong></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 col-sm-4">
                        <span class="input-group-text" id="basic-addon3">ΣΤΑΤΕΡΙ (Άλυσος)</span>
                        <span class="input-group-text" id="basic-addon3">ΑΛΥΣΟΣ</span>
                        <span class="input-group-text" id="basic-addon3">ΑΓΚΥΡΙΟ (Άλυσος)</span>
                    </div>
                    <div class="col-8 col-sm-4">
                        <input type="text" class="form-control" name="stateriType" id="stateriType" placeholder="Ίντσες">
                        <input type="text" class="form-control" name="alysosType" id="alysosType" placeholder="Ίντσες">
                        <input type="text" class="form-control" name="agkyrioChainType" id="agkyrioChainType" placeholder="Ίντσες">
                    </div>
                    <div class="col-8 col-sm-4">
                        <input type="number" class="form-control" name="stateriCounter" id="stateriCounter" placeholder="x2" min="0">
                        <input type="number" class="form-control" name="alysosCounter" id="alysosCounter" min="0">
                        <input type="number" class="form-control" name="agkyrioChainCounter" id="agkyrioChainCounter" placeholder="x2" min="0">
                    </div>
                </div>
				<br>
                <div class="row">
                    <div class="col-8 col-sm-4">
                        <label class="form-label"><strong>ΕΞΑΡΤΗΜΑΤΑ ΠΟΝΤΙΣΕΩΣ</strong></label>
                    </div>
                    <div class="col-8 col-sm-4">
                        <label class="form-label"><strong>ΤΥΠΟΣ</strong></label>
                    </div>
                    <div class="col-8 col-sm-4">
                        <label class="form-label"><strong>ΤΕΜ</strong></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 col-sm-4">
                        <span class="input-group-text" id="basic-addon3">ΣΤΡΕΠΤΗΡΑΣ</span>
                        <span class="input-group-text" id="basic-addon3">ΝΑΥΤΙΚΟ ΚΛΕΙΔΙ</span>
                        <span class="input-group-text" id="basic-addon3">ΑΓΚΥΡΙΟ</span>
                    </div>
                    <div class="col-8 col-sm-4">
                        <input type="text" class="form-control" name="streptyrasType" id="streptyrasType" placeholder="Ίντσες">
                        <input type="text" class="form-control" name="navyKeyType" id="navyKeyType" placeholder="Ίντσες">
                        <input type="text" class="form-control" name="agkyrioType" id="agkyrioType" placeholder="Κιλά">
                    </div>
                    <div class="col-8 col-sm-4">
                        <input type="number" class="form-control" name="streptyrasCounter" id="streptyrasCounter" min="0">
                        <input type="number" class="form-control" name="navyKeyCounter" id="navyKeyCounter" min="0">
                        <input type="number" class="form-control" name="agkyrioCounter" id="agkyrioCounter" min="0">
                    </div>
                </div>
			</div>

			<br>

			<div class="text-center">
				<a onclick="window.history.back()" class="btn btn-outline-primary float-left">Πίσω</a>
				<button class="btn btn-outline-primary">Εγγραφή</button>
			</div>
		</form>
	</div>
</div>
<br>

<% include ./partials/footer %>
